.background{
    background-color: #C5CAFF;
    font-family: Arial;

}

.navbar-dark .nav-item .nav-link {
  color: #C5CAFF;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}



/* Estilos para los íconos */
.custom-link .fa {
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Estilo para el menú desplegable */
.dropdown-menu {
  max-height: 200px; /* Establece una altura máxima para el menú */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}
